/* ===== General Settings Card ===== */
.settings-card {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  font-family: "Inter", sans-serif;
}
/* Profile photo preview */
.preview-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* ===== Section ===== */
  .section {
    margin-bottom: 30px;
  }

.section h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Montserrat',sans-serif ;
font-weight:600;
}

.section-subtitle {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
  font-family: 'Lato',sans-serif ;
  font-weight:500;
}

/* ===== Form Layout ===== */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #444;
font-family: 'Montserrat',sans-serif ;
font-weight:500;
}

.form-group input,
.form-group select,/*Preferences*/
.form-group textarea {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
  font-family: 'Lato',sans-serif ;
  font-weight:500;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #4f46e5;
}

.full-width {
  grid-column: 1 / -1;
}

.file-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* padding: 8px 12px; */
  font-size: 13px;
  color: #777;
    font-family: 'Montserrat',sans-serif ;

}
.file-box span{
  margin-left:10px;
}
.file-btn {
  background:#0075FF;
  border: none;
  color: white;
  /* padding: 8px 18px; */
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
  height: 40px;
  width:80px;
    font-family: 'Montserrat',sans-serif ;

}
.ad-file-btn{
   background:#0075FF;
  border: none;
  color: white;
  /* padding: 8px 18px; */
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  height: 40px;
  width:80px;
  font-family: 'Montserrat',sans-serif ;

}
/* .file-btn:hover {
  background: #5b21b6;
} */

/* ===== Save Button ===== */
.save-btn-container {
  text-align: right;
}

.save-btn {
  background: #111;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
    font-family: 'Montserrat',sans-serif ;
font-weight: 600;
margin-top: 10px;
}

.save-btn:hover {
  background: #333;
}
