/* src/components/common/Card.css */

.card-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #e9ecef;
}

.card-header {
  margin-bottom: 2.5rem;
}

.card-header h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1a2238;
  margin: 0;
}/* }   PropertyRevenue */

.card-body {
  font-size: 0.9rem;
  color: #6c757d;
  flex-grow: 1;
}
/* }   PropertyRevenue */